<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.ovgu.featureide.fm.ui.menus.popupMenu?after=de.ovgu.featureide.fm.ui.menus.popupMenu.submenus">
         <menu
               icon="icons/FeatureIconSmall.ico"
               id="popup:de.ovgu.featureide.fm.ui.menus.popupMenu.visualisations"
               label="Visualisation">
               				<visibleWhen
						checkEnabled="false">
					<reference
							definitionId="de.ovgu.featureide.ui.expressions.onlyProjects">
					</reference>
				</visibleWhen>
            <command
                  commandId="de.ovgu.featureide.visualisation.command.featurerelations"
                  label="Feature's Graph"
                  style="push">
            </command>
            <command
                  commandId="de.ovgu.featureide.visualisation.command.nfp"
                  label="Non-Functional Property's Graph"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.ovgu.featureide.visualisation.ShowFeatureRelationsGraphCommandHandler"
            id="de.ovgu.featureide.visualisation.command.featurerelations"
            name="Feature's Graph">
      </command>
       <command
            defaultHandler="de.ovgu.featureide.visualisation.NFPGraphcommandHandler"
            id="de.ovgu.featureide.visualisation.command.nfp"
            name="Non-Functional Property's Graph">
      </command>
   </extension>

</plugin>
